[Unit]
Description=Monitors the instance for spot termination events

[Service]
Type=simple
ExecStart=/usr/bin/check_spot
WorkingDirectory=/tmp
Restart=always

